<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>FUTURE POSTCARDS, send postcards to the future</title>
</head>
	
    <!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
    
	<!-- CSS -->
    <link href="css/structure.css" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">
    
    <link href="css/skeleton/normalize.css" rel="stylesheet">
    <link href="css/skeleton/skeleton.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="all.css" />

<body>

	<div class="container start-page">
		<div class="row">
			<div class="twelve columns">
				
				<img src="images/future-postman-header.png" alt="the future post man" />
			    <h1>FUTURE <span class="red">/</span> <span class="blue">POST</span></h1>

			        
	    	</div>
		</div>
		
		<div class="row">	
			<div class="twelve columns">
				<h2>First step is to calibrate your quantum time travel thingy with a personal message!<br />
				<a>Also see our examples left for us from past time travelers.</a></h2>
			</div>
		</div>
		
		<div class="row" id="app">
					
			<div class="seven columns postcard">
				<div class="postcard-note">
					<p>{{to}},</p>
					<p>{{note}}</p>
				</div>
				<div class="postcard-addy">
					<p>{{addy1}}</p>
					<p>{{addy2}}</p>
					<div>
						<p>{{city}},</p>
						<p>{{state}}</p>
						<p>{{zip}}</p>
					</div>
				</div>
			</div>
			
			<!--THE FORM BEGINS -->
    			<form id="form1" name="form1" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://dejavubyyou.wufoo.com/forms/z7x3p3/#public">
	    			
            	<!-- DATE -->
	        <div class="five columns">
                <input v-model="to" style="width: 100%" placeholder="To:" id="Field4" name="Field4" type="text" class="field text small" maxlength="36" tabindex="1" onkeyup="validateRange(4, 'character');" required />
                <small class="subscript">Ask yourself . . . Will you be using the same name in the future?</small>            
                
                <!-- TEXT -->
				<textarea v-model="note" placeholder="Your note to the future . . . " style="height:300px; padding: 10px 6px" id="Field5" name="Field5" class="field textarea small" spellcheck="true" rows="10" cols="50" tabindex="2" onkeyup="" required  ></textarea>
			
                <!-- ADDRESS -->
	               <div class="street-address-inputs">
	                
		                <input v-model="addy1" placeholder="Street Address" id="Field109" name="Field109" type="text" class="field text addr" placeholder="" tabindex="3" required />
		                <input v-model="addy2" placeholder="Street Address (Optional)" id="Field110" name="Field110" type="text" class="field text addr" placeholder="" tabindex="4" />
		                
		                <div class="address-inputs">
		                	<input v-model="city" placeholder="City" id="Field111" name="Field111" type="text" class="field text addr" placeholder="" tabindex="5" required />
							<input v-model="state" placeholder="State" id="Field112" name="Field112" type="text" class="field text addr" placeholder="" tabindex="6" required />
							<input v-model="zip" placeholder="Zip" id="Field113" name="Field113" type="text" class="field text addr" placeholder="" maxlength="15" tabindex="7" required />
		                </div>    
		            
		                <div class="hide">
			                <select id="Field114" name="Field114" class="field select addr" tabindex="8" >
			                <option value="United States" selected="selected" >United States</option>
			                </select>
		               </div>
		               
	               </div>                
        	</div>

    	</form>
		</div>
	
</div>
	<!-- end of container -->
	
    <footer>
		<img src="images/footer-stamp.png" alt="stamp in the footer" />
		<p>POSTCARDS CUSTOMIZED BY YOU & SENT IN THE FUTURE.</p>
<!--         <p>ABOUT FUTUREPOST.CARDS  |  HOW IT WORKS  |  EXAMPLES</p> -->
        <p>&copy; FUTUREPOST.CARDS</p>
    </footer>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.14/vue.min.js"></script>
    <script type="text/javascript" src="js/wufoo.js"></script>
    <script type="text/javascript" src="js/flip.js"></script>
    <script type="text/javascript" src="js/vue-modules.js"></script>
    
	<script type="text/javascript" src="js/google-analytics.js"></script>
	
	<script>
		 $('*').focus(function(){
		  $(this).attr("placeholder",'');
		  });
	</script>

</body>
</html>
